:root{
    --hover: rgb(74, 53, 236);
    --shd: -11.31px 11.31px 17px 0px rgba(138,131,124,0.23);
    --bg-theme: rgb(230,218,206);
    --comic: 'Comic Sans MS';
    --kanit: 'Kanit', sans-serif;
    --trans1: border-color 0.4s ease-in-out 0s;
    --trans2: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    --phone: 430px;
}
.titlu .title{
    width: 18px;
    height: 18px;
    background-color: var(--hover);
    border: none;
    margin: 15px 0 15px;
}
.middle-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 15dvh;
    background-color: var(--bg-theme);
}
.titlu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 15dvh 0 5dvh;
}
.text-titlu{
    font-size: 32px;
    font-family: var(--comic);
    font-weight: bold;
    padding: 0 10px;
}
/*form*/
.form{
    background-color: #fff;
    width: 45%;
    box-shadow: var(--shd, --shd);
    display: flex;
    justify-content: center;
    margin: 10dvh 0 20dvh;
}
form{
    width: 90%;
}
.name-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5dvh 0;
}
.nume1, .nume2{
    display: flex;
    flex-direction: column;
    margin: 0 1dvw;
    width: 100%;
}
.nume1 label, .nume2 label, .rest label{
    font-family: var(--comic);
    font-size: 16px;
    font-weight: bold;
    padding: 15px 15px 0;
}
.rest label{
    padding: 15px 30px 0;
}
.input-nume{
    width: 100%;
    border: none;
    border-bottom: 3px solid black;
    padding: 15px;
    font-family: var(--kanit);
    color: var(--hover);
    font-weight: bold;
    font-size: 14px;
}
.input-nume:hover, .full-width:hover{
    border-bottom: 3px solid var(--hover);
    transition: var(--trans1);
}
.rest{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
}
.full-width{
    width: 90%;
    margin-left: 5%;
    border: none;
    border-bottom: 3px solid black;
    padding: 15px;
    font-family: var(--kanit);
    color: var(--hover);
    font-weight: bold;
    font-size: 14px;
}
#message{
    padding: 7dvh 0;
}
.button-form{
    padding: 20px 15px;
    margin-bottom: 15dvh;
}
.button-form input{
    padding: 5px 20px;
    border: none;
    background-color: var(--hover);
    font-family: var(--comic);
    color: #fff;
    font-size: 16px;
    border-radius: 50px;
    font-weight: bold;
}
.button-form input:hover{
    background-color: #fff;
    border: 2px solid var(--hover);
    color: black;
    cursor: pointer;
    transition: var(--trans2);
    padding: 3px 18px;
}

@media only screen and (max-width: 430px) {
    *{
        margin: 0;
        padding: 0;
    }
    .titlu{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 5dvh 0 5dvh;
    }
    .text-titlu{
        font-size: 24px;
        font-family: var(--comic);
        font-weight: bold;
        padding: 0 10px;
    }
    .form{
        width: 90%;
        margin: 0 20dvh 20dvh;
    }
    .name-form{
        display: flex;
        flex-direction: column;
    }
    .nume1 label, .nume2 label, .rest label{
        font-family: var(--comic);
        font-size: 16px;
        font-weight: bold;
        padding: 15px 30px 0;
    }
    .full-width, .input-nume{
        width: 90%;
        margin-left: 5%;
        border: none;
        border-bottom: 3px solid black;
        padding: 15px;
        font-family: var(--kanit);
        color: var(--hover);
        font-weight: bold;
        font-size: 14px;
    }
}