*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --hover: rgb(74, 53, 236);
    --shd: -11.31px 11.31px 17px 0px rgba(138,131,124,0.23);
    --bg-theme: rgb(230,218,206);
    --bg-box: rgb(244,236,230);
    --comic: 'Comic Sans MS';
    --kanit: 'Kanit', sans-serif;
    --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    --trans2: color .4s ease 0s;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: rgb(206, 197, 197);
    box-shadow: inset 0 0 5px rgb(109, 105, 105);
}
::-webkit-scrollbar-thumb{
    display: block;
    cursor: pointer;
    background-color: #5f5d5d;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: ease-in-out 2s;
}
::-webkit-scrollbar-thumb:hover{
    display: block;
    cursor: pointer;
    background-color: #282626;
    transition: ease-in-out 2s;
}
@keyframes nav-appear {
    from{
        top: -10%;
    }
    to{
        top: -1px;
    }
}
@keyframes nav-appear-phone {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}
@keyframes nav-close-phone {
    from{
        top: 0;
    }
    to{
        top: -70%;
    }
}
@keyframes first_box-appear {
    from {
        left: -100%;
      }
      to {
        left: 15dvw;
      }
}
@keyframes first_box-phone {
    from {
        left: -100%;
    }
    to{
        left: 5%;
    }
}
@keyframes last_box-appear {
    from{
        left: 100%;
    }
    to{
        left: 0;
    }
}
body{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.menu-icon, .hide{
    display: none;
}
.page-transition {
    transition: opacity 2s ease-in-out;
    opacity: 0;
}
.header{
    animation: nav-appear 1.3s ease-in-out;
    animation-delay: 0ms;
    width: 100%;
    height: 15dvh;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 1;
    background-color: white;
}
.first-title{
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.square-name{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.square:not(.titlu .title){
    width: 18px;
    height: 18px;
    background-color: var(--hover);
    border: none;
    margin: 15px 0 15px 5dvw;
}
.name, .nume{
    font-size: 20px;
    color: black;
    font-weight: bold;
    padding: 13px 15px;
    position: relative;
}
.name a{
    color: black;
    text-decoration: none;
    transition: .3s color ease-in-out;
}
.name a:hover{
    color: var(--hover);
}
.name::after{
    content: '';
    position: absolute;
    width: 3px;
    background-color: black;
    top: 8px;
    bottom: 8px;
    right: 0;
}
.job{
    font-style: italic;
    font-size: 20px;
    color: black;
    padding: 13px 15px;
    position: relative;
}
.right-place{
    width: 60%;
    height: 100%;
}
.right-place nav{
    display: flex;
    align-items: center;
}
.right-place nav ul{
    width: 100%;
    height: 15dvh;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    align-items: center;
    list-style-type: none;
}
.right-place nav ul li{
    padding: 15px 20px;
    position: relative;
    right: 1dvw;
}
.right-place nav ul li:hover a:not(.drop-content a){
    color: var(--hover);
}
.right-place nav ul li a, .right-place nav ul li .drop-btn{
    color: black;
    font-size: 18px;
    font-family: 'Comic Sans MS';
    text-decoration: none;
    transition: .3s color ease-in-out;
}
.right-place nav ul li:hover{
    cursor: pointer;
    color: var(--hover);
}
.right-place nav ul li .activ{
    color: var(--hover);
}
.drop-content{
    display: none;
    position: absolute;
    z-index: 1;
    margin-left: -50px;
}
.drop-content a{
    color: black;
    font-size: 16px;
    padding: 10px;
    transition: .3s color ease-in-out;
}
.drop-content a:hover{
    color: var(--hover);
}
.right-place nav ul li:hover .drop-content{
    display: flex;
    flex-direction: column;
    width: 5dvw;
    box-shadow: var(--shd);
    background-color: #fff;
}
img{
    width: 20px;
}
/*middle area */
.middle-box{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row
}
.background{
    width: 70%;
    height: 120dvh;
    margin-top: 14dvh;
    background-color: var(--bg-theme);
    position: relative;
    display: flex;
    align-items: center;
}
.person{
    animation: first_box-appear 3s ease-in-out;
    animation-delay: 0ms;
    width: 70%;
    height: auto;
    position: absolute;
    left: 15dvw;
    box-shadow: var(--shd, 0 1px 4px rgba(0,0,0,.6));
}
.top-picture{
    background-color: var(--bg-box);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.picture{
    width: 180px;
    height: 180px;
    border: 5px solid var(--bg-theme);
    border-radius: 50%;
    margin: 10dvh 0;
    padding: 5px;
}
.picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.border-down{
    width: 4dvw;
    height: 3px;
    background-color: var(--hover);
    border-radius: 50px;
    margin: 4dvh 0;
}
.nume{
    font-size: 30px;
    font-family: var(--comic);
}
.space{
    margin-bottom: 15%;
    font-size: 16px;
    margin-top: -10px;
    font-family: var(--kanit);
}
.space::before{
    content: '';
    width: 20px;
    height: 3px;
    background-color: var(--bg-theme);
    position: absolute;
    left: -10px;
    top: 50%;
}
.space::after{
    content: '';
    width: 20px;
    height: 3px;
    background-color: var(--bg-theme);
    position: absolute;
    top: 50%;
    right: -10px;
}
.social{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 8dvh;
}
.social img{
    width: 40px;
    margin: 0 15px;
}
/*text-area*/
.text-area{
    margin-top: 15dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5dvw;
}
.text-area .content{
    animation: last_box-appear 3s ease-in-out;
    animation-delay: 0ms;
    overflow-x: hidden;
    width: 50%;
    height: 100dvh;
    margin-top: 14dvh;
    position: relative;
    display: flex;
    flex-direction: column;
}
.intro h1{
    font-size: 80px;
    font-family: var(--comic);
    margin-left: 10px;
}
.intro h2{
    font-family: var(--comic);
    margin-left: 5px;
    padding: 20px 0;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}
.buttons .proj-button{
    width: 100px;
    padding: 3px 30px;
    margin: 0 20px;
    border: 2px solid black;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: .4s background-color ease 0s;
}
.buttons .cv-button{
    width: 100px;
    padding: 5px 30px;
    margin: 0 20px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--hover);
    transition: .4s background-color ease 0s;
}
.buttons .proj-button a{
    color: black;
    font-family: var(--comic);
    text-decoration: none;
    font-size: 18px;
}
.buttons .cv-button a{
    color: #fff;
    font-family: var(--comic);
    text-decoration: none;
    font-size: 18px;
    transition: .4s color ease-in-out;
}
.buttons .cv-button:hover{
    transition: var(--trans1, border-color .4s ease 0s, background-color .4s ease 0s);
    background-color: #fff;
    border: 2px solid var(--hover);
    cursor: pointer;
    padding: 3.5px 30px;
}
.buttons .cv-button:hover a{
    color: black;
    transition: color 0.4s ease 0s, color .4s ease 0s;
}
.buttons .proj-button:hover{
    transition: var(--trans1,border-color .4s ease 0s,background-color .4s ease 0s);
    background-color: var(--hover);
    border: none;
}
.buttons .proj-button:hover a{
    color: #fff;
    transition: color 0.4s ease 0s, color .4s ease 0s;
}
.descriere{
    font-family: var(--kanit);
    padding: 15px;
    text-align: justify;
    font-size: 18px;
    text-indent: 2dvw;
}
/*footage area*/
.footage{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15dvh;
    z-index: 1;
    background-color: #fff;
}
.copy{
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
}
.copy .text-copy{
    display: flex;
    align-items: center;
    padding-left: 3dvw;
    font-family: var(--kanit);
    font-size: 16px;
}
.copy .text-copy img{
    margin-right: 10px;
}
.detail{
    width: 100%;
}
.about{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.column{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.phone, .mail, .social-media{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.title{
    font-family: var(--comic);
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}
.link-media{
    display: flex;
    flex-direction: row;
}
.link-media img{
    width: 30px;
    margin: 0 5px;
}
.number, .email, .link-media img{
    margin-top: 10px;
}
.number a, .email a{
    text-decoration: none;
    transition: var(--trans2);
}
.number a:hover, .email a:hover{
    color: var(--hover);
    transition: var(--trans2);
}
@media only screen and (max-width: 430px) {
    *{
        margin: 0;
        padding: 0;
    }
    .header{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        position: fixed;
        top: -1px;
    }
    .first-title{
        display: flex;
        flex-direction: column;
        width: 70%;
    }
    .right-place{
        width: 30%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .square-name{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .name{
        font-size: 24px;
        font-family: var(--comic);
    }
    .job{
        font-family: var(--comic);
        font-size: 20px;
        padding-top: 0;
        position: relative;
        left: 0;
    }
    .name::after{
        width: 0;
    }
    .square{
        width: 16px;
        height: 16px;
    }
    .menu-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
    }
    .menu-icon img{
        width: 100%;
        height: 100%;
        object-fit: fill;
        transition: opacity 0.3s ease;
    }
    .menu-icon img.hidden{
        opacity: 0;
    }
    #new-menu-image{
        position: absolute;
        width: 30px;
        height: 30px;
    }
    #nav-open{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background-color: var(--bg-theme);
        opacity: 0.95;
        display: none;
        transition: transform .5s ease;
    }
    #nav-open.open{
        transform: translateY(-100%);
        animation: slideUpDown 0.5s forwards;
    }
    .visible{
        top: 0;
    }
    .non-visible{
        top: -200px;
    }
    #ul-nav{
        position: relative;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style-type: none;
    }
    .right-place nav ul li a{
        font-size: 22px;
    }
    .right-place nav ul li:hover .drop-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25dvw;
        box-shadow: none;
        background-color: transparent;
    }
    .drop-content a{
        padding: 10px;
    }
    /*middle-area*/
    .middle-box{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .background{
        width: 100%;
        height: 100dvh;
        margin-top: 10dvh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .person{
        animation: first_box-phone 3s ease-in-out;
        animation-delay: 0ms;
        width: 90%;
        position: absolute;
        left: 5%;
    }
    .picture{
        width: 140px;
        height: 140px;
        border: 5px solid var(--bg-theme);
        border-radius: 50%;
        margin: 5dvh 0;
        padding: 3px;
    }
    .border-down{
        width: 20dvw;
        height: 3px;
        background-color: var(--hover);
        border-radius: 50px;
        margin: 4dvh 0;
    }
    .nume{
        font-size: 20px;
        padding: 0;
    }
    .top-picture .job:not(.space){
        font-size: 16px;
        padding: 0 10px 10px;
    }
    .space{
        margin-bottom: 10%;
        margin-top: 10px;
        padding: 0 10px;
        font-size: 16px;
    }
    .space::before{
        position: absolute;
        left: -20px;
        bottom: 50%;
    }
    .space::after{
        top: 50%;
        right: -20px;
    }
    .social img{
        width: 35px;
    }
    /*text-area*/
    .text-area{
        margin-top: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0;
    }
    .text-area .content{
        animation: last_box-phone 3s ease-in-out;
        animation-delay: 0ms;
        width: 100%;
        height: 100dvh;
        margin-top: 10dvh;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    /*down area*/
    .footage{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        z-index: 0;
        position: relative;
    }
    .detail{
        display: flex;
        flex-direction: row;
        width: 90%;
        height: 100%;
        position: relative;
        align-items: center;
        justify-content: center;
    }
    .column{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 100%;
    }
    .phone, .mail, .social-media{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    .social-media{
        width: 100%;
        height: 100%;
    }
    .copy{
        margin-bottom: 5dvh;
    }
}